*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:antiquewhite;
    position: fixed;
    width: 100%;
}
section{
    padding-top: 100px;
}
.heading{
    color:darkgoldenrod;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;
    /* position: fixed; */
}
ul,li,a{
    display: inline;
    text-decoration: none;
    padding: 5px;
    color:darkgoldenrod ;
    font-size: 15px;
  /* margin-left: 40px; */
}
ul{
   margin-left: 850px;
}
.para{
    color:palevioletred;
    padding-left: 40px;
}
.h2,.h3,.h4,.h5,.h6{
    padding: 15px;
        color:darkgoldenrod;
        text-align: center;
        background-color:tan;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
}
img{
    border-radius: 30px;
    padding: 45px;
    border-right: 3px solid tan;
}
h2{
    color:tan;
    padding-left: 50px;
    padding-bottom: 20px;
    
}
b{
    color: tan;
    padding-left: 50px;
}
.in1{
    margin-left: 50px;
}
.in2{
margin-left: 59px;
}
.in3 {
margin-left: 48px;
}
.in4 {
margin-left: 48px;
}
.in5 {
margin-left: 84px;
}
.in6 {
margin-left: 58px;
}
.button{
    margin-left: 220px;
    border: none;
    background-color: tan;
    border-radius: 5px;
}
.button:hover{
    background-color: darkgoldenrod;
    color: azure;
}
.in1:focus{
    background-color:goldenrod;
    color: white;
    font-size: medium;
}
.cont{
    margin-left: 950px;
    margin-top: -60px;
    /* padding-bottom: 200px; */
}
img:hover{
    border-radius:10pc;
    width: 400px;
    height: 300px;
}
.col{
    background-color:wheat;
}
