#squre {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}
#circle{
    width: 98px;
        height: 98px;
        border: 1px solid blue;
        border-radius: 100%;
        background-color: blue;
}