#change-header-position{
    height: 400px;
    border: 1px solid black;
}
#change-header-position header{
    position: relative;
    top: 320px;
    left: 500px;
    background-color: dimgray;
    color: white;
    display: inline-block;
}
