*{
    margin: 0  ;
    padding: 0;
    box-sizing: border-box ;
}
#mainBlock{
    width: 100%;
    height: 90vh;
    background-image:url('./Assets/3606208.jpg');
    position: relative;
    margin: 0 auto;
}
.navBlock{
    width: 90%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
}
.navBlock>.logoBlock{
    width: 50%;
    display: flex;
    align-items: center;
}
.logoBlock i{
    font-size: 30px;
}
.logoBlock h4{
color: rgb(65, 14, 14);
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
font-weight: bold;
padding-left: 10px;
}
.navBlock .menuBlock {
    width: 50%;
    margin-top: 10px;
}
.navBlock .menuBlock ul li{
    list-style: none;
    padding-left: 30px;
}
.navBlock .menuBlock ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
/* font-family: 'Roboto Condensed', sans-serif; */
}
.navBlock .menuBlock a{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    color: rgb(65,14,14);
font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}
.navBlock .menuBlock i{
    position: absolute;
    right: 250px;
}
.navBlock .menuBlock ul{
    display: flex;
    justify-content:flex-end;
 
}
 .contentBlock{
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-basis: 50%;
    /* background-color: aqua; */
    position: relative;
}
.contentBlock .contentPara{
    flex-basis: 50%;
    height: inherit;
    position: relative;
}
.contentBlock .contentPara p{
    width: 350px;
    padding: 8px;
    border: 2px dashed rgb(65, 14, 14);
    position: absolute;
    top: 25%;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(65, 14, 14);
    font-weight: 600;
}
.contentBlock .contentPara h2:nth-child(2){
    position:absolute;
    top: 32%;
    font-size: 90px;
    text-transform: uppercase;
    color: rgb(65, 14, 14);
    text-shadow: 3px 1px 1px white;
font-family: 'Alfa Slab One', cursive;
letter-spacing: 2px;
}
.contentBlock .contentPara h2:last-child {
    position: absolute;
    top: 50%;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(65, 14, 14);
    text-shadow: 3px 1px 1px white;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
}
.contentImage {
    position: relative;
    flex-basis: 50%;
        height: inherit;
}
.contentImage .contentImage-img1{
    position: absolute;
    top: 24%;
    right: 60px;
    z-index: 5;
}
.contentImage .contentImage-img2 {
    width: 150px;
    height: 470px;
    position: absolute;
    top: 5%;
  right: 60px;
   z-index: 2;
}
.contentImage .contentImage-img3 {
    position: absolute;
    top: 20%;
    right: 320px;
    z-index: 3;
}
.contentImage .contentImage-img4 {
    position: absolute;
        top: -100px;
    left: 84px;
    z-index: 1;
}
.contentImage .contentImage-img5 {
    position: absolute;
    width: 500px;
   bottom:20px;
   left: 150px;
   z-index: 100;
}
.contentImage .contentImage-img6 {
    position: absolute;
    width: 250px;
    bottom: 55px;
    left: 400px;
}
.contentOffer{
    width: 140px;
    height: 140px;
    background-color: red;
    text-align: center;
    padding-top: 30px;
   border-radius: 50%;
   outline: 2px dashed white;
   outline-offset: -10px;
   color: white;
   position: absolute;
   top: 400px;
   left: 80px;
   z-index: 11;
font-family: 'Roboto Condensed', sans-serif;
font-size: 30px;
}
.contentOffer h4{
    letter-spacing: 3px;
}
.contentOffer span{
    font-size: 15px;
}
#imageBlock{
    width: 90%;
    height: 8   0vh;
    /* background-color: aquamarine; */
    margin: 0 auto;
    display: flex;
    position: relative;
}
#imageBlock .leftImage{
    padding-top: 30px;
    position: relative;
    flex-basis: 50%;
}
#imageBlock .leftImage h3{
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
    font-family: 'Roboto Condensed',
        sans-serif;
        text-transform: uppercase;
        font-size: 15px;
}
#imageBlock .leftImage h2 {
    position: absolute;
    top: 70px;
    left: 20px;
    color: white;
    font-family: 'Roboto Condensed',
        sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}
#imageBlock .rightImages {
    padding-top: 30px;
    padding-left: 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
#imageBlock .rightImages .rightImage-first h3{
    position: absolute;
    top: 50px;
    left:50px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',
            sans-serif;
            font-size: 15px;
}
#imageBlock .rightImages .rightImage-first h2:nth-child(3) {
    position: absolute;
    top: 70px;
    left: 50px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',
        sans-serif;
        font-size: 20px;
}
#imageBlock .rightImages .rightImage-first h2:last-child {
    position: absolute;
    top: 90px;
    left: 50px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',
        sans-serif;
        font-size: 20px;
}
#imageBlock .rightImages .rightImage-second{
    padding-top: 30px;
}
#imageBlock .rightImages .rightImage-second h3{
    position: absolute;
    bottom: 185px;
    left: 50px;
    color: white;
    font-family: 'Roboto Condensed',
            sans-serif;
        font-size: 15px;
        text-transform: uppercase;
}
#imageBlock .rightImages .rightImage-second h2 {
    position: absolute;
    bottom: 160px;
    left: 50px;
    color: white;
    font-family: 'Roboto Condensed',
        sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
#content_Block{
    width: 75%;
    height: 28vh;
    /* background-color:aqua; */
    margin: 0 auto;
    padding-top: 30px;
}
#content_Block p:first-child{
  text-align: center;
   padding: 10px;
    background-color: orange;
    text-transform: uppercase;
    color: rgb(65, 14, 14);
    font-family: 'Roboto Condensed',
            sans-serif;
}
#content_Block b{
    background-color: orange;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 42%;
    color: rgb(65, 14, 14);
        font-family: 'Roboto Condensed',
            sans-serif;
}
#content_Block h1{
    color: rgb(65, 14, 14);
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    padding-left: 35%;
    padding-top: 20px;
}
#content_Block p:last-child{
    color: rgb(65, 14, 14);
    text-align:center;
}
#imageDisplay{
    width: 95%;
    height: 70vh;
    /* background-color: aqua; */
    margin: 0 auto;
    position: relative;
    display: flex;
    
}
#imageDisplay .cardImage1{
    flex-basis: 33%;
    position: relative;
   /* background-color: azure; */
}
#imageDisplay .cardImage1 img:first-child{
     position: absolute;
     top: 20px;
}
#imageDisplay .cardImage1 img:nth-child(2) {
    position: absolute;
top: 54%;
    left: -10px;
}
#imageDisplay .cardImage1 h1{
    position: absolute;
top: 65%;
    left: 110px;
    color: rgb(65, 14, 14);
    text-transform: uppercase;
    font-family: 'Roboto Condensed',
            sans-serif;
}
#imageDisplay .cardImage1 p {
    position: absolute;
    top: 73%;
        right: -10px;
  text-align:center;
    color: rgb(65, 14, 14);
}
#imageDisplay .cardImage1 h2 {
    position: absolute;
    top: 82%;
        left: 140px;
    color: rgb(65, 14, 14);
    text-transform: uppercase;
    color: white;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto Condensed',
            sans-serif;
}
#imageDisplay .cardImage2 {
    flex-basis: 33%;
    /* background-color: bisque; */
    position: relative;
}
#imageDisplay .cardImage2 img:first-child {
    position: absolute;
    top: 10px;
    left: 40px;
}

#imageDisplay .cardImage2 img:nth-child(2) {
    position: absolute;
  top: 54%;
    left: -10px;
}
#imageDisplay .cardImage2 h1 {
    position: absolute;
top: 65%;
    left: 110px;
    color: rgb(65, 14, 14);
    text-transform: uppercase;
    font-family: 'Roboto Condensed',
        sans-serif;
}
#imageDisplay .cardImage2 p {
    position: absolute;
     top: 73%;
        right: -10px;
    text-align: center;
    color: rgb(65, 14, 14);
}
#imageDisplay .cardImage2 h2 {
    position: absolute;
    top: 82%;
        left: 140px;
    color: rgb(65, 14, 14);
    text-transform: uppercase;
    color: white;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Roboto Condensed',
        sans-serif;
}
#imageDisplay .cardImage3 {
    flex-basis: 33%;
    /* background-color: burlywood; */
    position: relative;
}
#imageDisplay .cardImage3 img:first-child {
    position: absolute;
    top: 20px;
    left: 20px;
}

#imageDisplay .cardImage3 img:nth-child(2) {
    position: absolute;
  top: 54%;
    left: 10px;
}
#imageDisplay .cardImage3 h1 {
    position: absolute;
   top: 65%;
    left: 110px;
    color: rgb(65, 14, 14);
    text-transform: uppercase;
    font-family: 'Roboto Condensed',
        sans-serif;
}

#imageDisplay .cardImage3 p {
    position: absolute;
   top: 73%;
    right: -10px;
    text-align:center;
    color: rgb(65, 14, 14);
}
#imageDisplay .cardImage3 h2 {
    position: absolute;
   top: 82%;
    left: 140px;
    color: rgb(65, 14, 14);
    text-transform: uppercase;
    color: white;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
      /* text-align: center; */
    font-size: 15px;
    font-family: 'Roboto Condensed',
        sans-serif;
}
#event-section {
  width: 100%;
  height: 60vh;
  padding: 5%;
  margin:0 0 10% 0;
}
#event-section article {
     width: 100%;
  height: 60vh;
  /* position: relative; */
  display: flex;
  box-shadow: 7px 7px 7px 5px lightgrey;
}
#event-section article .event-content {
  flex-basis: 40%;
  position: relative;
}
#event-section article .event-content h3 {
  text-transform: uppercase;
  position: absolute;
  color: rgb(64, 14, 14);
  font-family: "Antonio", sans-serif;
  top: 10px;
}
#event-section article .event-content h2 {
  text-transform: uppercase;
  color: rgb(64, 14, 14);
  font-family: "Alfa Slab One", cursive;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  position: absolute;
  top: 30px;
}
#event-section article .event-content p:nth-child(3) {
  color: rgb(64, 14, 14);
  font-family: "Poppins", sans-serif;
  text-align:justify;
  padding-top: 30px;
  position: absolute;
  top: 60px;

}
#event-section article .event-content p:nth-child(4) {
  color: rgb(64, 14, 14);
  font-family: "Poppins", sans-serif;
  text-align:justify;
  padding-top: 30px;
  position: absolute;
  top: 90px;
}
#event-section article .event-content p:nth-child(5) {
  color: rgb(64, 14, 14);
  font-family: "Poppins", sans-serif;
  text-align:justify;
  padding-top: 30px;
  position: absolute;
  top: 120px;
}
#event-section article .event-content p:last-child {
  color: rgb(64, 14, 14);
  font-family: "Poppins", sans-serif;
  text-align:justify;
  padding-top: 30px;
  position: absolute;
  top: 150px;
}

#event-section article img {
    position: absolute;
  height: 57vh;
  width: 700px;
  left: 47%;
}
#reserve-section{
  width: 100%;
  height: 60vh;
   position: relative;
}
#reserve-section article{
  width:80%;
  height: inherit;
  margin: 0 auto;
 
}
#reserve-section article h3{
  text-transform: uppercase;
  color: rgb(64, 14, 14);
  font-family: "Antonio", sans-serif;
  text-align: center;
  letter-spacing: 2px;
}
#reserve-section article h1{
  text-transform: uppercase;
  color: rgb(64, 14, 14);
  font-family: "Alfa Slab One", cursive;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
#reserve-section article figure .img1{
position:absolute;
width: 10vw;
height: 30vh;
top:0px;
left: 0;
}
#reserve-section article figure .img2{
position:absolute;
width: 10vw;
height: 30vh;
right: 0;
bottom: 0;
}
#reserve-section article figure .img3{
position:absolute;
width: 10vw;
height: 50vh;
top:28%;
left:8%;
}
#reserve-section article table{
  display: flex;
  /* text-align: center; */
  justify-content: center;

}

#reserve-section article table tr td input{
  width: 450px;
  height: 50px;
  color: rgb(64, 14, 14);
}
#reserve-section article table tr td button{
  display: flex;
  background-color: red;
  padding:14px;
  width: 100%;
  justify-content: center;
  border: 1px solid white;
  border-radius:5px;
  color: #fff;
   font-family: "Alfa Slab One", cursive;
   text-transform: uppercase;
   font-weight:300;
}
#footer details{
    width: 100%;
    position: relative;
    margin-top: 70px;
    height: 85vh;
    opacity: .85;
 }
footer{
  width: 95%;
  height: 75vh;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  background-image: url('./Assets/WhatsApp\ Image\ 2022-09-13\ at\ 09.15.18.jpeg');
  background-size: cover;
  position: relative;
 opacity: .8;
}

footer .about-burgerhouse{
  flex-basis: 50%;
}
footer .about-burgerhouse span{
  display:flex;
} 
footer .about-burgerhouse span i{
  color: #fff;
  font-size:5vw;
  position:absolute;
  top: 12%;
  left:4%;
}
footer .about-burgerhouse span h1{
  color: #fff;
  font-size:5vw;
  position:absolute;
  top: 10%;
  left:10%; 
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}
footer .about-burgerhouse p{
  color: #fff;
  width: 50%;
  position:absolute;
  top: 35%;
  left:4%; 
}
footer .about-burgerhouse .copy-rights{
 color: #fff;
  width: 50%;
  position:absolute;
  top: 90%;
  left:4%;  
}

footer .about-address-social-media > #location{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top:190px;
    right: 470px;
}

footer .about-address-social-media> #lcdetails {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 190px;
    right: 95px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

footer .about-address-social-media>#email {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 230px;
    right: 465px;
}

footer .about-address-social-media>#emdetails {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 230px;
    right: 170px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#insta {
    color: #fff;
    position: absolute;
    font-size: 33px;
    top: 90%;
    right: 18%;
}

#facebook {
    color: #fff;
    position: absolute;
    font-size: 33px;
    top:90%;
    right: 15%;
}

#twitter {
    color: #fff;
    position: absolute;
    font-size: 33px;
    top: 90%;
    right: 12%;
}

#whatsapp {
    color: #fff;
    position: absolute;
    font-size: 33px;
    top: 90%;
    right: 9.5%;
}
