:root{
   --color: rgb(188, 177, 177);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 15vh;   
    box-shadow: 0px 0px 15px 0px dimgray;
    position: sticky;
    top: 0%;
   z-index: 1;
}
header nav{
    width: 100%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color:var(--color);

  /* background-image: linear-gradient(black,orange); */
}
header nav .logo{
   padding-left: 20px;
    width: 15%;
    font-family:'Pacifico', cursive;
    margin: 10px;
    font-size: 30px;
    font-weight: 500;
    
    color: rgb(29, 24, 16);
}
header nav .logo::first-letter{
    color: orange;
    font-size: 60px;
}
header nav .search-bar{
display: flex;
width:60% ;
justify-content: center;

}

header nav .login{
     width: 15%;
}
header nav .login ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
header nav .login ul li a{
    text-decoration: none;
   padding: 10px;
   background-color: orange;
   color: black;
   border-radius: 5px;
   font-weight: 200;
   font-family: 'Pacifico', cursive;
    transition: all 1s ease-in;
}
header nav .login ul li a:hover{
    background-color: white;
    color: orange;
       transform: scale(1.5);
}
header .search-bar input{
    width: 400px;
    height: 40px;
    background-color:rgb(226, 215, 194);
    border: none;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: large;
}
header .search-bar input:focus{
    border:2px solid orange;
    outline: none;
}
#content-section{
    margin-top: 1%;
    width: 100%;
    height: 140vh;
    padding: 50px;
    background-image: url('../Images/istockphoto-1363306527-170667a.jpg') ;
   background-repeat: no-repeat;
    background-size: cover ;
    color:rgb(248, 241, 241);
    font-family:  'Dancing Script', cursive;
    text-shadow: 4px 4px orange;
    font-size:80px;
    text-align:center;
    box-shadow: 0px 0px 15px black;
}
#image-section{
   background-color:rgb(243, 241, 236);
   height: 120vh;
    box-shadow: 0px 0px 50px 4px orange inset;
}
#image-section article:first-child>#mainimg1>.img1:hover{
    opacity: 0.8;
}
#image-section article:first-child>#mainimg2>.img2:hover {
    opacity: 0.8;
}
#image-section article:first-child>#mainimg3>.img3:hover {
    opacity: 0.8;
}
#image-section article:last-child>#mainimg4>.img4:hover {
    opacity: 0.8;
}
#image-section article:last-child>#mainimg5>.img5:hover {
    opacity: 0.8;
}
#image-section article:last-child>#mainimg6>.img6:hover {
    opacity: 0.8;
}
#image-section article:first-child{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 40px;
}
#image-section article:first-child > #mainimg1 > .img1 {
    border-radius: 30px;
    padding: 10px;
}
#image-section article:first-child>#mainimg2>.img2 {
    border-radius: 30px;
    padding: 10px;
}
#image-section article:first-child>#mainimg3>.img3 {
    border-radius: 30px;
    padding: 10px;
}
#image-section article:last-child {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    /* padding-left: 15px; */
}
#image-section article:last-child>#mainimg4>.img4 {
    border-radius: 30px;
    padding: 10px;
}

#image-section article:last-child>#mainimg5>.img5 {
    border-radius: 30px;
    padding: 10px;
}

#image-section article:last-child>#mainimg6>.img6 {
    border-radius: 30px;
    padding: 10px;
}
#description-section{
    width: 100%;
    height: 56vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
#description-section div:first-child{
    margin-right: 30px;
    width: 350px;
    height: 300px;
    /* border: 1px solid black; */
    text-align: center;
    font-family: cursive;
    background-color: rgb(200, 207, 207);
    box-shadow: 0px 0px 15px;
}
#description-section div:first-child>button{
    border: none;
    border-radius: 5px;
    background-color: orange;
    font-size: large;
}
#description-section div:first-child>button:hover{
    background-color: azure;
    color: orange;
    font-size: x-large;
}
#description-section div:nth-child(2) {
margin-right: 30px;
    width: 350px;
    height: 300px;
    /* border: 1px solid black; */
    background-color: rgb(200, 207, 207);
    text-align: center;
    font-family: cursive;
    box-shadow: 0px 0px 15px;
}
#description-section div:nth-child(2)>button {
    border: none;
    border-radius: 5px;
    background-color: orange;
    font-size: large;
}

#description-section div:nth-child(2)>button:hover {
    background-color: azure;
    color: orange;
    font-size: x-large;
}
#description-section div:last-child {
margin-right: 30px;
    width: 350px;
    height: 300px;
    /* border: 1px solid black; */
    background-color: rgb(200, 207, 207);
    text-align: center;
    font-family: cursive;
    box-shadow: 0px 0px 15px; 
}
#description-section div:last-child>button {
    border: none;
    border-radius: 5px;
    background-color: orange;
    font-size: large;
}

#description-section div:last-child>button:hover {
    background-color: azure;
    color: orange;
    font-size: x-large;
}
#mainimg1{
    position: relative;
    box-shadow:0px 0px 50px 4px orange inset ;
}

#mainimg1 > h1{
    position: absolute;
        bottom: 290px;
        left: 20px;
        font-size: 25px;
        color:orange;
        display: none;
}
#mainimg1:hover h1{
    display:block;
}
#mainimg2{
    position: relative;
  
}

#mainimg2>h1 {
    position: absolute;
        bottom: 290px;
        left: 20px;
        font-size: 25px;
        color: orange;
        display: none;
}

#mainimg2:hover h1 {
    display: block;
}
#mainimg3{
    position: relative;
}
#mainimg3>h1 {
    position: absolute;
        bottom: 290px;
        left: 20px;
        font-size: 25px;
        color: orange;
        display: none;
}

#mainimg3:hover h1 {
    display: block;
}
#mainimg4{
    position: relative;
    box-shadow: 0px 0px 50px 4px orange inset;
}
#mainimg4>h1 {
    position: absolute;
        bottom: 290px;
        left: 20px;
        font-size: 25px;
        color: orange;
        display: none;
}

#mainimg4:hover h1 {
    display: block;
}
#mainimg5{
    position: relative;
}
#mainimg5>h1 {
    position: absolute;
        bottom: 290px;
        left: 20px;
        font-size: 25px;
        color: orange;
        display: none;
}

#mainimg5:hover h1 {
    display: block;
}
#mainimg6{
    position: relative;
    box-shadow: 0px 0px 50px 4px orange inset;
}
#mainimg6>h1 {
    position: absolute;
        bottom: 290px;
        left: 20px;
        font-size: 25px;
        color: orange;
        display: none;
}

#mainimg6:hover h1 {
    display: block;
}
article div p{
    color: black;
    font-family: cursive
}
#description-section div:first-child>h1{
    color: orange;
}
#description-section div:nth-child(2)>h1 {
    color: orange;
}
#description-section div:last-child>h1 {
    color: orange;
}
footer{
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 207, 162);
}
footer{
    position: relative;
}
#information{
    display: flex;
    background-color:var(--color);
    width: 100%;
    height: 50vh;
    color:black;
font-weight: 800;
}
#information div:first-child{
    padding-left: 185px;
    padding-top: 80px;
}
#information div:nth-child(2) {
padding-left: 280px;
    padding-top: 80px;
}
#information div:last-child {
    padding-left: 280px;
        padding-top: 80px;
}
#information div:first-child ul li {
    padding-top: 20px;
    list-style: none;
}
#information div:nth-child(2) ul li{
    padding-top: 20px;
        list-style: none;
}
#information div:last-child ul li{
padding-top: 20px;
    list-style: none;
}
footer #app-logo img:first-child{
    position: absolute;
    top: 5em;
    left: 70em;
}
footer #app-logo img:last-child {
    position: absolute;
    top: 10em;
    left: 70em;
}
#branch-location article{
    padding-top: 30px;
    background-color: var(--color);
    display: flex;
    justify-content: space-around;
    font-weight: 800;
}
#branch-location article div:first-child ul li{
    list-style: none;
    padding-top: 10px;
}
#branch-location article div:nth-child(2){
    padding-top: 30px;
}
#branch-location article div:nth-child(2) ul li{
    list-style: none;
        padding-top: 10px;
}
#branch-location article div:last-child {
    padding-top: 30px;
}
#branch-location article div:last-child ul li {
    list-style: none;
    padding-top: 10px;
 
}
#follow-social-media{
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: orange;
}
#follow-social-media img{
   transform: translate(320%);
}
#follow-social-media h3:nth-child(2){
    transform: translate(300%);
}
#follow-social-media h3:first-child{
    transform: translate(210%);
}
